.container{
    display:flex;
    justify-content: space-evenly;
}

.img-fluid{
    width: 200px;
    height: 200px;
}

.page-header{
    color:darkslateblue;
}

li.footer_item {
    list-style-type: none;
    display: inline;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: rgb(18, 50, 65);
    text-align: center;
    display: inline;
    text-decoration: none;
}